body {
  margin: 0;
  padding: 0;
  background-color: #30475e;
  color: cornsilk;
  display: flex;
  justify-content: center;

  .main {
    // border: 3px pink solid;
    display: flex;
    flex-direction: column;

    h1 {
      align-self: center;
      // border: 2px red solid;
    }
  }
}
