.navbar {
  display: flex;
  // border: 1px green solid;
  justify-content: space-between;
  background-color: rgb(57, 62, 68);
  box-shadow: 0px 1px 4px 1px rgb(57, 62, 70);

  .logo {
    background-color: burlywood;
    height: 3rem;
    width: 3rem;
    margin: auto 0;
  }

  ul {
    display: flex;
    list-style: none;
    // border: 1px green solid;
    margin-right: 3rem;

    li {
      padding: 0 1.5rem;
    }
  }
}
